{
  "root": true,
  "env": {
    "jest": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "prettier", "standard"],
  "plugins": ["module-resolver", "@typescript-eslint"],
  "rules": {
    "space-before-function-paren": "off",
    "no-unused-vars": "off",
    "module-resolver/use-alias": 2,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
